
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .input-value {
        width:135px!important;
    }
    .yellowRow {
        border: 3px solid yellow!important;
    }
    .greenwRow {
        border: 3px solid green!important;
    }
</style>

<div class="border-left p-3 bg-light">
    <h5 class=" pb-2 text-center text-uppercase font-weight-bold">START ADMISSION</h5>

    <div id="toastmsg"><p class="yellow">Fill all mandatory feilds (*)..</p></div>
    <div class="mb-3">
        <div class="mb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">@Resource.Enquiry1001lblLibrary</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Resource.Enquiry1001lblData</li>
                </ol>
            </nav>
        </div>

        <div class="row bg-white border mx-auto py-2 mb-2">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-group-sm">
                    <select class="select form-control form-control-sm" id="ddlFirstCriteria" name="Criteria1">
                        <option>Select First Criteria</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-group-sm">
                    <input class="form-control form-control-sm" id="txtFirstCriteria" name="name" placeholder="sub option" type="text" />
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-group-sm">
                    <select class="select form-control form-control-sm" id="ddlSecondCriteria" name="Criteria1">
                        <option>Select Second Criteria</option>
                    </select>
                </div>

            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-group-sm">
                    <input class="form-control form-control-sm" id="txtSecondCriteria" name="name" placeholder="sub option" type="text" />
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">

                <div class="form-group form-group-sm">
                    <select class="select form-control form-control-sm" id="ddlThirdCriteria" name="Criteria1">
                        <option>Select Third Criteria</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-group-sm">
                    <input class="form-control form-control-sm" id="txtThirdCriteria" name="name" placeholder="sub option" type="text" />
                </div>

            </div>
        </div>

        <div class="container-fluid text-right mb-2"><button class="mybtn" type="button" onclick="SearchData()"><i class="fas fa-search mr-2"></i>Update Search</button></div>

        <!-- datatable -->
        <div class="container-fluid bg-white pt-3 pb-3">
            <div class="float-left mb-2">
                <button class="mybtndark" id="btnUpdate"><i class="far fa-save mr-2"></i>Save</button>
                <button class="mybtndark" type="submit"><i class="fas fa-print mr-2"></i>Print Receipt</button>
                <button class="mybtndark" type="submit"><i class="far fa-comment-alt mr-2"></i>Send SMS</button>
                <button class="mybtndark" type="submit"><i class="far fa-envelope mr-2"></i>Send Mail</button>
            </div>
            <div class="table-responsive" id="tblStartAdmission">
                <table id="dtStartAdmission" class="table table-striped table-bordered table-sm table-hover" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/DevScripts/Common/Common.js"></script>
<script src="~/Scripts/DevScripts/Admission/StartAdmission.js"></script>
