
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h1 id="schoolid"></h1>
<h1 id="groupid"></h1>
<script src="~/Scripts/DevScripts/Common/Common.js"></script>
<script src="~/Scripts/DevScripts/Common/SetSession.js"></script>
@*<script src="~/Scripts/DevScripts/Common/Navigation.js"></script>*@
<script src="~/Scripts/DevScripts/Common/Headerinfo.js"></script>

